.donate-content p {
  margin-top: 15px;
}

.donate-content {
  padding: 3em;

  @media (max-width: $screen-sm-min) {
    padding: 1.25em;
  }
}



.donate-iframe {
  padding: 3em;

  @media (max-width: $screen-sm-min) {
    padding: 1.25em;
  }
}

.donorbox {
  align: right;
}

.donate-iframe iframe {
  display: block;
  align: center;
  margin-top: 2.5em;
}

.video {
  max-width: 500px;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
