.donate {
  // margin-top: 2em;
  // background-color: yellow;
}

.donate-content h1 {
  margin-top: 2em;
  background-color: red;
}

.donate-content {
  border: 1px solid black;
  padding: 1em;
}

.donation-widget {
  align: right;
}

.donorbox {
  align: right;
}

.donate-iframe iframe {
  margin-top: 70px;
  align: right;
}
